APP_ENV=development
APP_KEY=base64:Ny6yLj8ivp/rLcmubo4Gil5G6V2ndS2E3DnAfSoPX3o=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=sqlite

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=d6239d9243c994
MAIL_PASSWORD=a5ea8ec5fd5d82
MAIL_ENCRYPTION=null
