/node_modules
/public/storage
/public/js/google-analytics.js
/vendor
/.idea
/coverage
/tags
/storage/app/media/*
/storage/framework/*
/storage/debugbar
Homestead.json
Homestead.yaml
.env
package-lock.json
.phpunit.result.cache
public/js/app.js.LICENSE.txt