includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    level: 8

    ignoreErrors:
        - '#Access to an undefined property mixed::\$path.#'
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given\.#'
        - '#Call to an undefined static method Zttp\\Zttp::get\(\)\.#'

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false